[Desktop Entry]
Name=Notifications Viewer
Exec=openplotter-notifications-viewer
Icon=openplotter-notifications-viewer
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter