[Desktop Entry]
Name=Notifications
Exec=openplotter-notifications
Icon=openplotter-notifications
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
